*{
    box-sizing: border-box;
}
html{
    background-color:rgb(102, 179, 255);
    background-repeat:initial;
    background-attachment: fixed;
}
h1{
    color:#000000;
    font-family:"Consolas";
    text-align:center;
    font-weight:500;
}
.container1,.container2,.container3,.container4{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    height:128px;
    width:512px;
    background-color:#ffffff;
    margin:auto;
}
.input{
    font-family:"Poppins";
    font-size:1.4rem;
    float:left;
    text-align:center;
    /* padding:20px 20px; */
}
#meter,#kilometer,#feet,#inch,#kilogram,#pounds,#megabyte,#gigabyte{
    padding:10px 15px;
}
@media only screen and (max-width: 700px){
    h1{
        font-size:1.6rem;
    }
    .container1,.container2,.container3,.container4{
        height:128px;
        width:352px;
    }
    .input{
        font-size:1.4rem;
    }
    #meter,#kilometer,#feet,#inch,#kilogram,#pounds,#megabyte,#gigabyte{
        padding:1px;
    }
}






