*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    border: 2px solid red;
    max-width:512px;
    margin: 3rem auto;
}
body{
    background-color:rgb(102, 179, 255);
    background-repeat:no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
}
h1{
    color:#000000;
    font-family:"Consolas";
    text-align:center;
    font-weight:500;
}
.container1,.container2,.container3,.container4{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    height:128px;
    background-color:#ffffff;
    width: 100%;
    
}
.input{
    font-family:"Poppins";
    font-size:23px;
    text-align:center;
}
#meter,#kilometer,#feet,#inch,#kilogram,#pounds,#megabyte,#gigabyte{
    padding:10px 15px;
}
@media(max-width: 700px){

    
    .input{
        font-size:22px;
    }
    #meter,#kilometer,#feet,#inch,#kilogram,#pounds,#megabyte,#gigabyte{
        padding:1px 2px;
    }
}









